#banner {
    height: 300px;
}

#site-title-header {
    padding-top: 0.5em;
}

#site-title {
    text-decoration:none;
    color: black;
    padding-left: 1em;
}

.article-title {
    text-decoration:none;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.socials {
    margin-top: 0.5em;
}

.fab {
    font-size: 2.3em;
    padding-left: 1em;
}

.inav {
    margin: 0.2em;
    font-size: 1.2em;
}

#footer-line {
    margin-top: 5em;
}

#license-img {
    padding-left: 10em;
}

/* Centre any image with #centre in it's address */
img[src*="#centre"] {
    display: block;
  margin-left: auto;
  margin-right: auto;
}